<section class="main-content">
  <h1>Rito Plz</h1>

  <div class="request-form">
  <%= form_for @request do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit "Rito Plz" %>
  <% end %>
  </div>

  <div class="requests-list">
    <% @requests.each do |request| %>
      <p><%= request.content %>
    <% end %>
  </div>
</section>
